
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap');

:root {
--primary-color: #165892;
--background-color: #efefef;
--text-color: #000000;
--accent-color: #0a8825;
--text-color2: #ffffff;
}

body {
font-family: 'Montserrat', sans-serif;
background-color: var(--background-color);
color: var(--text-color);
line-height: 1.6;
margin: 0;
padding: 10px;
text-align: justify;
padding-bottom: 100px; /* Espacio adicional en la parte inferior para permitir que la imagen sea visible en dispositivos móviles */

}

#navbar {
background-color: var(--primary-color);
color: var(--text-color2);
padding: 10px;
text-align: center;
position: fixed;
width: 100%;
top: 0; 
z-index: 1000;
}

.question-container {
margin-bottom: 20px; /* Espacio entre preguntas */
text-align: justify; /* Justifica el texto de la pregunta y opciones */
}

.question {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--text-color); /* Cambiado a color de texto */
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1); /* Ajusta según sea necesario */

}

.options label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color); /* Cambiado a color de texto */
}

#navbar ul {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
}

#main-title {
text-align: center;
font-size: 2.5em;
color: var(--primary-color);
margin-top: 100px;
margin-bottom: 10px;
}

h2 {
/* Estilos para el subtítulo */
font-size: 1.3rem; /* Tamaño de fuente más pequeño que el título principal */
color: black; /* Color más claro que el título principal */
margin-top: 0; /* Elimina espacio adicional arriba del subtítulo */
margin: 0;
text-align: justify;
font-weight: normal;
}

h3 {
    /* Estilos para el subtítulo */
    font-size: 1.5rem; /* Tamaño de fuente más pequeño que el título principal */
    color: var(--primary-color); /* Color más claro que el título principal */
    margin-top: 0; /* Elimina espacio adicional arriba del subtítulo */
    text-align: center;
    }

#navbar {
background-color: var(--primary-color);
text-align: center;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
padding: 10px 0;
margin-left: -10px;
width: calc(100% + 20px);
}

#navbar ul {
padding: 0;
margin: 0;
list-style: none;
display: flex;
justify-content: center;
}

#navbar a {
color: var(--background-color);
text-decoration: none;
padding: 10px 15px;
margin: 0 10px;
font-weight: bold;
transition: color 0.3s ease-in-out;
}

.container {
    display: flex;
  flex-direction: column; /* Alinea los elementos hijos verticalmente. Remueve si quieres alinearlos horizontalmente */
  align-items: center; /* Centra los elementos hijos horizontalmente */
background-color: var(--background-color);
padding: 20px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
border-radius: 15px;
max-width: 900px;
margin: 0 auto;
transition: transform 0.3s ease-in-out;
backdrop-filter: blur(10px);
margin-top: 60px;
text-align: justify;
}

h1 {
font-family: 'Montserrat', sans-serif;
text-align: center;
color: var(--primary-color);
margin-bottom: 20px;
}

section {
padding: 50px 20px;
margin: 0 auto;
max-width: 800px;
text-align: center;
}

.ejercicio1 {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.age {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.sleep {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.deviceUse {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.reading {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.sport {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.ejercicio3 {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.ejercicio4  {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.ejercicio5  {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}

.ejercicio6  {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 1em;
}
    

#intro, .form, #sixthExerciseContainer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: justify;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
}


#intro > h2 {
text-align: justify;
}

#imageArea {
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente, si el contenedor tiene altura */
  }
  

button {
background-color: var(--primary-color);
color: var(--background-color);
border: none;
padding: 12px 25px;
border-radius: 8px;
cursor: pointer;
font-size: 1em;
font-weight: 700;
display: block;
width: 100%;
margin-top: 20px;
transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
color: black;
text-align: justify;
font-weight: normal;
}


button:hover {
        background-color: var(--accent-color);
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

.submit-button button {
background-color: var(--primary-color);
margin-top: 10px;
}

.submit-button button:hover {
        background-color: var(--accent-color);
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

#confirmationMessage {
background-color: #28a745;
color: white;
padding: 15px;
border-radius: 10px;
margin: 20px 0;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
animation: fadeIn 0.5s ease-in-out;
}

.responsive-image {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color); /* Ajusta el color de fondo según sea necesario */
    color: var(--text-color2); /* Ajusta el color del texto según sea necesario */
    text-align: center;
    padding: 10px 30px; /* Ajustado para aplicar solo padding vertical */
    border-radius: 25px; /* Redondea los bordes */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: añade una sombra suave */
    white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
    margin: 0 auto 20px; /* Centra el temporizador horizontalmente y añade margen inferior */
    width: fit-content;
}





.object, .name {
width: 100%;
padding: 15px;
margin-top: 5px;
border-radius: 4px;
border: 1px solid #ddd;
background-color: var(--background-color);
color: var(--text-color);
box-sizing: border-box;
font-size: 1em;
}

.object:focus, .name:focus {
border-color: #0056b3;
}

#progressContainer {
    width: 100%;
    background-color: #eee;
    position: fixed; /* Hace que la barra de progreso sea visible siempre al final de la página */
    bottom: 0;
    left: 0;
  }
  
  #progressBar {
    width: 0%;
    height: 20px;
    background-color: var(--primary-color);
    transition: width 0.5s; /* Añade una transición suave al cambiar el ancho */
  }
  
.panel {
padding: 0 18px;
display: none;
background-color: var(--primary-color);
overflow: hidden;
color: white;
text-align: justify;
font-size: 1em;
}

section h2 {
font-size: 1.5em;
}

section p {
font-size: 1em;
margin: 15px 0;
font-weight: normal;
}


.submitAll {
    text-align: center; /* Centra el botón dentro del formulario */
}

.submitAll button {
    display: inline-block; /* Permite ajustar mejor el margen y el posicionamiento */
    /* Resto de estilos del botón */
}

#skipAudio {
    display: inline-block; /* O 'block' si prefieres que ocupe su propia línea */
    margin-top: 10px; /* Ajusta el margen según necesidad */
    /* Otros estilos según tu diseño */
}

#fifthExerciseContainer, #sixthExerciseContainer {
    text-align: center;
    margin-top: 20px;
    display: none; /* Asegúrate de ajustar esto con JavaScript y no directamente en CSS para mantener la funcionalidad */
    overflow: auto; /* Ajusta según necesidad, puede ser 'hidden', 'scroll', etc. */
    /* Añade un ancho mínimo o máximo según lo necesites */
    max-width: 600px; /* Ejemplo */
    margin: auto; /* Centrar el contenedor si es necesario */
}

#fifthExerciseQuestions, #sixthExerciseContainer {
    overflow: auto; /* Asegura que el contenido que desborde se maneje con barras de desplazamiento */
    margin: auto;
    padding: 20px;
    max-width: 800px; /* o un valor que se ajuste a tu diseño */
    display: block;
}

#fifthExerciseQuestions h1, #sixthExerciseContainer button {
    margin: 10px 0; /* Ajusta según necesidad, reduce o elimina el margen si es necesario */
}

#fifthExerciseQuestions, #sixthExerciseContainer {
    padding: 20px; /* Asegura un espacio adecuado dentro del contenedor */
    /* Resto de estilos */
}

#fifthExerciseQuestions, #sixthExerciseContainer {
    width: 100%; /* O un ancho fijo si se prefiere */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el cálculo del ancho */
    /* Resto de estilos */
}


@keyframes fadeIn {
from {opacity: 0; transform: translateY(-20px);}
to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 768px) {
#navbar a {
    margin: 0 10px;
}
}

@media (max-width: 600px) {
.container, section, #timer {
    width: 100%;
    box-sizing: border-box;
}
}


/* Media query para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {

    body {
      font-size: 14px; /* Reduce el tamaño del texto base */
    }
  
    h1, #main-title {
      font-size: 1.8em; /* Reduce el tamaño del título principal */
      margin-top: 50px; /* Ajusta el margen superior si es necesario */
      margin-bottom: 5px; /* Reduce el espacio debajo del título */
    }
  
    h2 {
      font-size: 1.2em; /* Reduce el tamaño de los subtítulos */
    }
  
    h3 {
      font-size: 1.1em; /* Reduce ligeramente el tamaño de los subtítulos de tercer nivel */
    }
  
    .question, .options label {
      font-size: 0.9em; /* Reduce el tamaño del texto de las preguntas y opciones */
    }
  
    button {
      padding: 10px 20px; /* Ajusta el padding de los botones para que sean más pequeños */
      font-size: 0.9em; /* Reduce el tamaño del texto del botón */
    }
  
    /* Añade aquí más ajustes específicos para otros elementos según sea necesario */
    #timer {
        font-size: 0.8em; /* Reduce el tamaño del texto del temporizador */
        padding: 8px 20px; /* Ajusta el padding para hacer el temporizador más pequeño */
        /* Ajusta cualquier otro estilo necesario para el temporizador aquí */

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-color); /* Ajusta el color de fondo según sea necesario */
      color: var(--text-color2); /* Ajusta el color del texto según sea necesario */
      text-align: center;
      border-radius: 25px; /* Redondea los bordes */
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: añade una sombra suave */
      white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
      margin: 0 auto 20px; /* Centra el temporizador horizontalmente y añade margen inferior */
      width: fit-content;
  }
  }
  

  